doctype html
html(lang='ru')
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title
            block title
        link(rel='stylesheet' href='styles.css')
    body
        - let variable = "* value *";
        include layout/l-1
        block main